#personname{
    color: #3faadb;
    font-family: 楷体;
    font-size: 35px;

}
.pimg{
    width:20px;
    height: 20px;
}

.ptext{
    font-weight: bold;
}
.pspan{
    margin-left: 50px;
}
#personimg1{
     width: 120px;
     height: 160px;
     top:0px;
     right: 0px;
}

.subtitle-text{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

hr{
    size:15px;
    color: black;
    border-bottom:none;
}

.cla{
    margin-bottom: 15px;
}
#school{
    margin-left: 25%;
}
.middle{
    margin-bottom: 3px;
}

.R{
    float: right
}

.subtitle-img{
    width:25px;
    height: 25px;
}
