
<div class="top-bar">
    <div class="box-top">
        <ul class="top-ui">
            <li>
                <a href="/"><img src="../src/icon.svg"></a>
            </li>
            <li>
                <a href="https://bobozi-cmd.github.io/">首页</a>
            </li>
            <li>
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
        </ul>
    </div>
